@utility text-cl {
  font-size: clamp(0.75rem, 0.75rem + 3vw, 2.25rem);
}

@utility text-cm {
  font-size: clamp(0.5rem, 0.5rem + 2vw, 1.5rem);
}

@utility text-cs {
  font-size: clamp(0.375rem, 0.375rem + 1.5vw, 1.125rem);
}

@utility text-cxs {
  font-size: clamp(0.3125rem, 0.3125rem + 1.25vw, 0.9375rem);
}

@utility text-cxxs {
  font-size: clamp(0.25rem, 0.25rem + 1vw, 0.75rem);
}
